<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>myweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>myserv</servlet-name>
    <servlet-class>myweb.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myserv</servlet-name>
    <url-pattern>/hiServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myserv</servlet-name>
    <url-pattern>*.dd</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>init_param1</param-name>
    <param-value>contents saved</param-value>
  </context-param>
  <context-param>
    <param-name>propSrc</param-name>
    <param-value>D:\\initsrc\\dosome.prop</param-value>
  </context-param>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1522:orcl</param-value>
  </context-param>
  <context-param>
    <param-name>account</param-name>
    <param-value>chanw</param-value>
  </context-param>
  <context-param>
    <param-name>pw</param-name>
    <param-value>chanw</param-value>
  </context-param>
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>POSTS_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/day002/exceptHandler.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/day002/exceptHandler.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/day002/exceptHandler.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>myGet</servlet-name>
    <servlet-class>myweb.servs.GetRequestServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myGet</servlet-name>
    <url-pattern>/myGetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServ</display-name>
    <servlet-name>SecondServ</servlet-name>
    <servlet-class>myweb.servs.SecondServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServ</servlet-name>
    <url-pattern>/SecondServ</url-pattern>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdServ</display-name>
    <servlet-name>ThirdServ</servlet-name>
    <servlet-class>myweb.servs.ThirdServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServ</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
</web-app>