<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>myweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>myserv</servlet-name>
    <servlet-class>myweb.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myserv</servlet-name>
    <url-pattern>/hiServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myserv</servlet-name>
    <url-pattern>*.dd</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>init_param1</param-name>
    <param-value>contents saved</param-value>
  </context-param>
  <context-param>
    <param-name>propSrc</param-name>
    <param-value>D:\\initsrc\\dosome.prop</param-value>
  </context-param>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1522:orcl</param-value>
  </context-param>
  <context-param>
    <param-name>account</param-name>
    <param-value>chanw</param-value>
  </context-param>
  <context-param>
    <param-name>pw</param-name>
    <param-value>chanw</param-value>
  </context-param>
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>POSTS_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/day002/exceptHandler.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/day002/exceptHandler.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/day002/exceptHandler.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>myGet</servlet-name>
    <servlet-class>myweb.servs.GetRequestServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myGet</servlet-name>
    <url-pattern>/myGetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServ</display-name>
    <servlet-name>SecondServ</servlet-name>
    <servlet-class>myweb.servs.SecondServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServ</servlet-name>
    <url-pattern>/SecondServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdServ</display-name>
    <servlet-name>ThirdServ</servlet-name>
    <servlet-class>myweb.servs.ThirdServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServ</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>회원가입 및 로그인 처리 컨트롤러</description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>myweb.controllers.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/mvcEx1/signUp.do</url-pattern>
    <url-pattern>/mvcEx1/login.do</url-pattern>
    <url-pattern>/mvcEx1/signForm.do</url-pattern>
    <url-pattern>/mvcEx1/loginFail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>파일 업로드 컨트롤러</description>
    <display-name>UploadeController</display-name>
    <servlet-name>UploadeController</servlet-name>
    <servlet-class>myweb.controllers.file.UploadeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadeController</servlet-name>
    <url-pattern>/updown/uploadProc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>파일리스트처리 서블릿</description>
    <display-name>FileListServlet</display-name>
    <servlet-name>FileListServlet</servlet-name>
    <servlet-class>myweb.controllers.file.FileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileListServlet</servlet-name>
    <url-pattern>/updown/fileList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>myweb.mvc2board.controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/mvc2board/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MVC2BoardWrite</display-name>
    <servlet-name>MVC2BoardWrite</servlet-name>
    <servlet-class>myweb.mvc2board.controller.MVC2BoardWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC2BoardWrite</servlet-name>
    <url-pattern>/mvc2board/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteProcController</display-name>
    <servlet-name>WriteProcController</servlet-name>
    <servlet-class>myweb.mvc2board.controller.WriteProcController</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>104857600</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteProcController</servlet-name>
    <url-pattern>/mvc2board/writeProc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewController</display-name>
    <servlet-name>ViewController</servlet-name>
    <servlet-class>myweb.mvc2board.controller.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewController</servlet-name>
    <url-pattern>/mvc2board/view.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadController</display-name>
    <servlet-name>DownLoadController</servlet-name>
    <servlet-class>myweb.mvc2board.controller.DownLoadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadController</servlet-name>
    <url-pattern>/mvc2board/download.do</url-pattern>
  </servlet-mapping>
</web-app>