<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>myweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 등록해보기 -->
  <servlet>
  	<servlet-name>myserv</servlet-name>
  	<servlet-class>myweb.HelloServlet</servlet-class>
  </servlet>
  <!-- WAS 에 위 서블릿이 어떤 요청으로 오면 응답을 할건지를 지정함. 이걸 서블릿 매핑이라 함. -->
  <servlet-mapping>
  	<servlet-name>myserv</servlet-name>
  	<url-pattern>/hiServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>myserv</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>